header {
  text-align: center;
  background-color: #3e8e41;
  color: white;
  padding: 10px;
  font-size: 24px;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 5px;
  border-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: block;
  margin-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;

  position: relative;
}

nav a {
  color:#444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 15px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.active .collapsible:hover {
  background-color: #ccc;
}

table, th, td {
  border: 1px solid green;
  border-collapse: collapse;
  font-size: 18px;
  padding: 10px;
}

th {
  width: 20%;
}